@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap");
/* RESET STYLES */
* {
  color: inherit;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button, i {
  cursor: pointer;
}

label {
  display: inline;
}

img {
  max-width: 100%;
}

/* MOBILE ONLY */
.mobile-only {
  display: block;
}

/* SWIPER STYLES */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin-top: 3em;
}
.landing-page p {
  font-size: 1.5rem;
  color: #4169E1;
}
.landing-page button {
  margin-top: 3em;
  background-color: white;
  color: #4169E1;
  border: 1px solid #4169E1;
  padding: 1em;
  border-radius: 4px;
  cursor: pointer;
  animation: bumpbutton 0.5s infinite;
}
.landing-page button:hover {
  animation-play-state: paused;
}

.calculator-icon {
  font-size: 3rem;
  color: #4169E1;
  margin: 3em 0 0;
  padding: 1em;
  border-radius: 50%;
  animation: rotateIcon 2s infinite;
}

/* ANIMATION */
@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bumpbutton {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.section-one {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-one p {
  margin: 1em;
  line-height: 1.5em;
  letter-spacing: 1px;
}
.section-one button {
  background-color: #4169E1;
  padding: 1em;
  letter-spacing: 1px;
  color: white;
  border: none;
  width: 80%;
  margin-top: 5em;
  border-radius: 4px;
}

.section-two {
  text-align: start;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 1em;
  padding: 1.5em;
  font-weight: 500;
}
.section-two input {
  width: 100%;
  padding: 0.7em;
  border: 1px solid #4169E1;
  border-radius: 4px;
}
.section-two input::placeholder {
  color: rgb(201, 198, 198);
}
.section-two .name-input {
  margin-bottom: 3em;
}
.section-two form {
  margin: 5em 0;
  width: 100%;
}
.section-two .submit-btn {
  background-color: #4169E1;
  padding: 1em;
  letter-spacing: 1px;
  color: white;
  border: none;
  width: 100%;
  margin-top: 7em;
  border-radius: 4px;
}

.section-three .addCoursebtn {
  margin: 1em 0;
}
.section-three {
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 3em 1em;
}
.section-three .form {
display: flex;
justify-content: space-evenly;
}
.section-three .btn {
  background-color: #4169E1;
  border-radius: 4px;
  border: none;
  color: #fff;
  padding: 0.5em;
}
.section-three .generatebtn {
  width: 100%;
  margin: 1em 0;
}
.section-three select {
  color: #000;
  padding: 0.2em;
  border-radius: 4px;
  border: 1px solid #4169E1;
  margin: 0.3em 0.1em 0.3em 0;
}
.section-three select option {
  color: #4169E1;
  margin: 6em;
}
.section-three .graderemark {
  color: #4169E1;
  margin: 1em 0;
}
.section-three .totalscore {
  margin: 1em 0;
}
.section-three .totalunitLoad {
  margin: 0.5em 0 0.5em 0;
}
.section-three .developer {
  margin-top: 3em;
  align-self: center;
}
.section-three .garri {
  align-self: center;
  text-align: center;
}

.section-four {
  flex-direction: column;
  margin: 4em 2em;
}
.section-four h3 {
  margin-top: 1em;
}
.section-four p {
  margin: 0.5em 0;
}

/* MODAL STYLES */
.modal {
  --bs-modal-bg: #212529;
}
.modal .color-white {
  color: #fff;
}
.modal .copy-icon {
  margin: 0 0.5em;
}
.modal .copy-icon {
  color: #4169E1;
}
.modal .seen-btn {
  background-color: #4169E1;
  color: #fff;
  border: 1px solid #212529;
  border-radius: 4px;
  padding: 0.5em;
}

@media (min-width: 576px) {
  .mobile-only {
    display: none;
  }
}

/* UTILITY CLASSES */
.display-none {
  display: none;
}

.color {
  color: #4169E1;
  cursor: pointer;
}

.style-greeting {
  margin: 1em 0;
  text-align: center;
}

.hover:hover {
  color: blue;
}

.copy-icon:active {
  color: #fff;
}