//UTILITY CLASSES
.display-none {
    display: none;
}
.color{
    color: $primary_color;
    cursor: pointer;
}
.style-greeting {
    margin: 1em 0;
    text-align: center;    
}
.hover:hover {
    color: blue;
}
